body {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

#topRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    margin: 40px 10px 20px 10px;
}

#titleContainer {
    width: 25%;
    height: 60px;
    margin-right: 20px;
    font-family: 'Peddana', serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    outline: none;
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
}

#addBook {
    display: block;
    width: 250px;
    height: auto;
    margin-right: 20px;
    font-family: 'Peddana', serif;
    font-size: 2em;
    background-color: #71fcab;
    outline: none;
}

#clearBooks {
    width: 250px;
    height: auto;
    font-family: 'Peddana', serif;
    font-size: 2em;
    background-color: #f88eba;
    outline: none;
    margin-right: 150px;
}

@media (max-width: 1075px) {
    #topRowContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 200px;
        margin: 10px 10px 20px 10px;
    }

    #titleContainer {
        width: 100%;
        height: 60px;
        font-family: 'Peddana', serif;
        font-size: 50px;
        text-align: center;
        vertical-align: middle;
        outline: none;
    }

    #buttonsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #addBook {
        width: 250px;
        height: auto;
        margin: 20px auto 0 auto;
        font-family: 'Peddana', serif;
        font-size: 2em;
        background-color:  #71fcab;
        outline: none;

    }
    
    #clearBooks {
        width: 250px;
        height: auto;
        margin: 10px auto;
        font-family: 'Peddana', serif;
        font-size: 2em;
        background-color: #f88eba;
        outline: none;
    }
}

#bookDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 84%;
    height: 90%;
    background-color: #fffeb8;
}

.unreadBook{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 300px;;
    margin: 20px 15px;
    background-color: #ff808a;
    font-family: 'Peddana', serif;
}

.readBook{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 300px;
    margin: 20px 15px;
    background-color: #cafd8f;
    font-family: 'Peddana', serif;
}

.displayedDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.6em;
    width: 100%;
    height: 22%;
    vertical-align: middle;
    outline: none;
}

.deleteButton {
    width: 100%; 
    height: 40px;
    background-color: #91eae4;
    outline: none;
    border: none;
    font-size: 1.6em;
}

.deleteButton:hover {
    width: 100%;
    height: 40px;
    background-color: #f75656;
    outline: none;
    border: none;
    font-size: 1.6em;
}

.toggleRead {
    padding-top: 3px;
    width: 100%;
    height: 40px;
    background-color: #91eae4;
    outline: none;
    border: none;
    font-size: 1.5em;
    
}

.toggleRead:hover {
    padding-top: 3px;
    width: 100%;
    height: 40px;
    background-color: #fab863;
    outline: none;
    border: none;
    font-size: 1.5em;
    
}

.inputTable {
    display: none;
}

#inputTableContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    top: 160px;

}
.inputTableActive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    left: auto;
    right: auto;
    font-family: 'Peddana', serif;
    font-size: 1.6em;
    text-align: center;
    background-color:#71fcab;
    border: 10px solid rgb(199, 253, 253);
    padding: 14px;
}

#header {
    position: relative;
    margin-top: 200px;
    font-family: 'Peddana', serif;
    text-align: center;
    height: 200px;
    font-size: 100px
}

.hiddenHeader {
    display: none;
}
